    <hr>
    <div ng-repeat="r  in jobListingData.reviews | orderBy:sort:reverse">
        <div class="row">
            <div class="col-md-8">
                {{r.content.title}}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-8">
                {{r.timestamps.created | date:'MMM dd, yyyy hh:mm a'}}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-8">
            Posted by {{r.reviewer.personal.fName}} {{r.reviewer.personal.lName}}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-8">
                Rating: <rating ng-model="r.content.rating" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStart = null"></rating>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-8">
                Comment: {{r.content.body}}
            </div>
            <hr>
        </div>    
    </div>
