<table class="table" id="searchTable">
    <thead>
        <tr>
            <th>
            </th>
        </tr>
        <tr>
            <th>
            Filter By: 
            <br>
                <input type="checkbox" ng-model="filter.selected.state" value="state"> State
                <input ng-show="filter.selected.state" type="text" name="input" ng-model="filter.state">

                <input type="checkbox" ng-model="filter.selected.companyName"  value="company"> Company
                <input ng-show="filter.selected.companyName" type="text" name="input" ng-model="filter.companyName">
            </th>

        </tr>

        <tr>

            <th>
                <a href="" ng-click="predicate = 'specifics.companyName';">
                    Company
                </a>
            </th>

            <th>
                <a href="" ng-click="predicate = 'specifics.jobTitle';">
                    Title
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'location.city';">
                    Location
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'date.postedOn';">
                    Posted On
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'date.endsOn';">
                    Ends On
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'specifics.jobType';">
                    Job Type
                </a>
            </th>
        <tr>
    </thead>
    <tbody>
    <tr ng-class="{freshPost:isFreshJob(job), ownPost:isOwnJob(job)}"  ng-repeat="job in searchResultsData | orderBy:predicate | filter:jobFilter()">
            <td>
                <a ng-href="#/jobListing/{{job.getId()}}">{{job.specifics.companyName}} </a>
            </td>
            
            <td>
                {{job.specifics.jobTitle}}
            </td>
            <td>
                {{job.location.city}}, {{job.location.state}}
            </td>
            <td>
                {{job.date.postedOn | date : shortDate}}
            </td>
            <td>
                {{job.date.endsOn | date: shortDate}}
            </td>
            <td>
                {{job.specifics.jobType}}
            </td>
        </tr>
    </tbody>
</table>
<!-- Bookmark buttons -->
    <div id='bookmarkBtns' ng-show='showSaveBookmarkBtns'>
        <button class='btn btn-primary pull-left' ng-hide='isBookmarked' ng-click='saveBookmark()'>
            Add Bookmark
        </button>
        <button class='btn btn-danger pull-left' ng-show='isBookmarked' ng-click='removeBookmark()'>
            Remove Bookmark
        </button>
    </div>

