<table class="table" id="searchTable">
    <thead>
        <tr>
              
            <th>
            Filter By: 
            <br>
                <input type="radio" ng-model="color" value="state"> State
                <input type="radio" ng-model="color" value="company"> Company
                <input type="radio" ng-model="color" value="title"> Job Title
                <input type="text" name="input" ng-model="text">
                <button ng-click="submit()">
                  Filter
                </button>
            </th>

        </tr>

        <tr>

            <th>
                <a href="" ng-click="predicate = 'specifics.companyName';">
                    Company
                </a>
            </th>

            <th>
                <a href="" ng-click="predicate = 'specifics.jobTitle';">
                    Title
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'location.city';">
                    Location
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'date.postedOn';">
                    Posted On
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'date.endsOn';">
                    Ends On
                </a>
            </th>
            <th>
                <a href="" ng-click="predicate = 'specifics.jobType';">
                    Job Type
                </a>
            </th>
        <tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in searchResultsData | orderBy:predicate">
            <td>
                <a ng-href="#/jobListing/{{job.getId()}}">{{job.specifics.companyName}}. </a>
            </td>
            
            <td>
                {{job.specifics.jobTitle}}.
            </td>
            <td>
                {{job.location.city}}, {{job.location.state}}
            </td>
            <td>
                {{job.date.postedOn}}
            </td>
            <td>
                {{job.date.endsOn}}
            </td>
            <td>
                {{job.specifics.jobType}}
            </td>
        </tr>
    </tbody>
</table>
