html, body {
    background-color: #FDFDFD;
}

body {
    padding-top: 70px;
}

#splashSearch{
    position: fixed;
    top: 50%;
    left:50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
