.table {
    table-layout: fixed;
    word-wrap: break-word;
}

#searchItemNum{
    width: 30px;
}

.ownPost {
    background-color: lighten(#3A539B, 45%); 
}

.freshPost {
    background-color: lighten(#FFC40D, 25%); 
}
    
