#splash {
    background-color: #3A539B;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    padding:0;
}

#nextoShark{
    position:relative;
    transform: translate(0,50%);
}

#searchbar{
    padding:0 10px 0 50px;
    margin:0;
}
#splashSearch{
    padding:20px;
    background-color: lighten(#3A539B, 10%);
    position: absolute;
    top: 50%;
    left:50%;
    width: 60%;
    color: white;
    transform: translate(-50%, -50%);
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}
