<!-- Addr 1 -->
<div class="row">
    <div class="col-md-6">
        <!-- Addr 1 form -->
        <div class="form-group"
             ng-class="{'has-error':register.address1.$invalid && register.address1.$touched}">
            <label for="newUserAddress1">
                Address 1
            </label>
            <input ng-model="user.location.address1" 
                   type="text" 
                   class="form-control" 
                   id="newUserAddress1"
                   placeholder="123 Hacker Way"
                   name="address1"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   required
                   ng-trim/>
        </div><!-- Addr 1 form -->
    </div>
</div><!-- Addr 1 -->
 
<!-- Addr 2 -->   
<div class="row">
    <div class="col-md-6">
        <!-- Addr 2 form -->
        <div class="form-group"
             ng-class="{'has-error':register.address2.$invalid && register.address2.$touched}">
            <label for="newUserAddress2">
                Address 2
            </label>
            <input ng-model="user.location.address2" 
                   type="text" 
                   class="form-control" 
                   id="newUserAddress2"
                   placeholder="PO Box 555"
                   name="address2"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   ng-trim/>
        </div><!-- Addr 2 form -->
    </div>
</div><!-- Addr 2 -->


<div class="row">
    <div class="col-md-4">
        <!-- City form -->
        <div class="form-group"
             ng-class="{'has-error':register.city.$invalid && register.city.$touched}">
            <label for="newUserCity">
                City
            </label>
            <input ng-model="user.location.city" 
                   type="text" 
                   class="form-control" 
                   id="newUserCity"
                   placeholder="Riverside"
                   name="city"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   required
                   ng-trim/>
        </div><!-- City form -->
    </div>
    
    <div class="col-md-4">
        <!-- State form -->
        <div class="form-group"
             ng-class="{'has-error':register.state.$invalid && register.state.$touched}">
            <label for="newUserState">
                State
            </label>
            <input ng-model="user.location.state" type="text" 
                   class="form-control" id="newUserState"
                   placeholder="California"
                   name="state"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   required
                   ng-trim/>
        </div><!-- State form -->
    </div> 
    
    <div class="col-md-4">
        <!-- Zip form -->
        <div class="form-group"
             ng-class="{'has-error':register.zip.$invalid && register.zip.$touched}">
            <label for="newUserZipCode">
                Zipcode
            </label>
            <input ng-model="user.location.zip" 
                   type="text" 
                   class="form-control" 
                   id="newUserZipCode"
                   placeholder="92507"
                   name="zip"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   required
                   ng-trim/>
        </div><!-- Zip form -->
    </div>
</div>
    
<div class="row">
    <div class="col-md-6">
        <!-- Country form -->
        <div class="form-group"
             ng-class="{'has-error':register.country.$invalid && register.country.$touched}">
            <label for="newUserCountry">
                Country
            </label>
            <input ng-model="user.location.country" 
                   type="text" 
                   class="form-control" 
                   id="newUserCountry"
                   placeholder="USA"
                   name="country"
                   ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                   required
                   ng-trim/>
        </div><!-- Country form -->
    </div>
</div>
