<body ng-controller="ApplicantProfileCtrl">
<h3>Personal Information</h3>
    <hr> 
    <div class="row">
        <div class="col-md-4">
            <label for=""> First Name: </label> <td>{{applicantProfileData.personal.fName}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Middle Initial: {{applicantPofileData.personal.mInit}}</label>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Last Name: {{applicantPofileData.personal.lName}}</label>
	</div>
    </div>

<h3>Contact Information</h3>
<hr>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Phone Number: {{applicantProfileData.contact.phoneNum}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Website: {{applicantProfileData.contact.website}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> LinkedIn: {{applicantProfileData.contact.linkedIn}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Facebook: {{applicantProfileData.contact.facebook}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Twitter: {{applicantProfileData.contact.twitter}}</label>
	</div>
     </div>

<h3>Location Information</h3>
<hr>

     <div class="row">
	<div class="col-md-6">
            <label for=""> Address 1: {{applicantProfileData.location.address1}} </label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Address 2: {{applicantProfileData.location.address2}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> City: {{applicantProfileData.location.city}} </label>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> State: {{applicantProfileData.location.state}}</label>
	</div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Zipcode: {{applicantProfileData.location.zip}} </label>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Country: {{applicantProfileData.location.country}}</label>
        </div>
    </div>

</form>
