<h3>Personal Information</h3>

<a href="" ng-click="updateApplicant()" ng-show="showApplicant()">Update Profile</a>

    <hr> 
    <div class="row">
        <div class="col-md-4">
            <label for=""> First Name: </label> <td>{{applicantProfileData.personal.fName}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Middle Initial: </label><td>{{applicantProfileData.personal.mInit}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Last Name: </label><td>{{applicantProfileData.personal.lName}}</td>
	</div>
    </div>

<h3>Contact Information</h3>
<hr>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Phone Number: </label><td>{{applicantProfileData.contact.phoneNum}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Website: </label><td>{{applicantProfileData.contact.website}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> LinkedIn: </label><td>{{applicantProfileData.contact.linkedIn}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Facebook: </label><td>{{applicantProfileData.contact.facebook}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Twitter: </label><td>{{applicantProfileData.contact.twitter}}</td>
	</div>
     </div>

<h3>Location Information</h3>
<hr>

     <div class="row">
	<div class="col-md-6">
            <label for=""> Address 1: </label><td>{{applicantProfileData.location.address1}} </td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Address 2: </label><td>{{applicantProfileData.location.address2}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> City: </label><td>{{applicantProfileData.location.city}} </td>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> State: </label><td>{{applicantProfileData.location.state}}</td>
	</div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Zipcode: </label><td>{{applicantProfileData.location.zip}} </td>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Country: </label><td>{{applicantProfileData.location.country}}</td>
        </div>
    </div>

<h3>Specialty </h3>
<hr>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Degree: </label><td>{{applicantProfileData.spec.degree.country}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> University: </label><td>{{applicantProfileData.spec.univ}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Year: </label><td>{{applicantProfileData.spec.year}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Resume: </label><td>{{applicantProfileData.spec.resume}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Focus: </label><td>{{applicantProfileData.spec.focus}}</td>
        </div>
    </div>
</form>
