<div class="container">
<h3>Personal Information</h3>

<a href="" ng-click="updateApplicant()" ng-show="showApplicant()">Update Profile</a>

    <br>

    <div ng-controller="ApplicantProfileCtrl">
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"> View Updates</button>

    <hr>
        <div collapse="isCollapsed">
            <div class="well well-lg">
                <div ng-repeat='notification in notifications'>
                    Message: {{notification.message}}
                    <a ng-click="goToNotification(notification.meta.jobPost.meta.id)">
                    Title: {{notification.meta.jobPost.specifics.jobTitle}}
                    </a>
                </div>
            <div class='clearfix' ng-repeat-end></div> 
        </div>
    </div>

    <hr> 
    <div class="row">
        <div class="col-md-4">
            <label for=""> First Name: &nbsp; </label> <td>{{applicantProfileData.personal.fName}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Middle Initial: &nbsp; </label><td>{{applicantProfileData.personal.mInit}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Last Name: &nbsp; </label><td>{{applicantProfileData.personal.lName}}</td>
	</div>
    </div>

<h3>Contact Information</h3>
<hr>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Phone Number: &nbsp; </label><td>{{applicantProfileData.contact.phoneNum}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Website: &nbsp; </label><td>www.{{applicantProfileData.contact.website}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> LinkedIn: &nbsp; </label><td>www.linkedin.com/in/{{applicantProfileData.contact.linkedIn}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Facebook: &nbsp; </label><td>www.facebook.com/{{applicantProfileData.contact.facebook}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Twitter: &nbsp; </label><td>@{{applicantProfileData.contact.twitter}}</td>
	</div>
     </div>

<h3>Location Information</h3>
<hr>

     <div class="row">
	<div class="col-md-6">
            <label for=""> Address 1:&nbsp; </label><td>{{applicantProfileData.location.address1}} </td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Address 2:&nbsp; </label><td>{{applicantProfileData.location.address2}}</td>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> City:&nbsp; </label><td>{{applicantProfileData.location.city}} </td>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> State:&nbsp; </label><td>{{applicantProfileData.location.state}}</td>
	</div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Zipcode:&nbsp; </label><td>{{applicantProfileData.location.zip}} </td>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Country:&nbsp;</label><td>{{applicantProfileData.location.country}}</td>
        </div>
    </div>

<h3>Specialty </h3>
<hr>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Degree:&nbsp;</label><td>{{applicantProfileData.spec.degree}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> University:&nbsp;</label><td>{{applicantProfileData.spec.univ}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Year:&nbsp;</label><td>{{applicantProfileData.spec.year}}</td>
        </div>
    </div>

    <div class="row" ng-show="showResume">
        <div class="col-md-6">
            <label for=""> Resume:&nbsp;</label><br>
            <iframe ng-src='/resume'></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Focus:&nbsp</label><td>{{applicantProfileData.spec.focus}}</td>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="userInterests"> Interests and Skills: </label>
            <div id="userInterests"
                ng-repeat="interest in applicantProfileData.interests">
                    <td>{{interest}}&nbsp</td>
            </div>
        </div>
    </div>
<!--
    Make a check for whether they are a paying user.
    If they aren't ask them if they want to go premium.
    If the are, don't ask them anything.
-->
<!--
    Need to set up a listener (IPN) for dealing with
    when there actually is a payment.
    Right now, they just pay and that's it.
    How it should work is that when the payment goes through,
    the member's subscription value goes up by however many
    days they purchased.
-->
<h3>Want to go Premium?</h3>
<hr>
    Current Membership Until: <br>
    {{expires}} <br> <br>
    <div>
        For 30 days of Premium Membership:
        <form name="_xclick" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="merchant2@haha.com">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="item_name" value="30 days of Premium Access to HuntEdu">
        <input type="hidden" name="amount" value="12.00">
        <input type="hidden" name="on0" value="{{email}}">
        <input type="hidden" name="notify_url" value="http://192.241.206.102/payment/">
        <input type="image"
            src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
            border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>
    <br>
    <div>
        For 90 days of Premium Membership:
        <form name="_xclick" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="merchant2@haha.com">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="item_name" value="90 days of Premium Access to HuntEdu">
        <input type="hidden" name="amount" value="30.00">
        <input type="hidden" name="on0" value="{{email}}">
        <input type="hidden" name="notify_url" value="http://192.241.206.102/payment/">
        <input type="image"
            src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
            border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>
</div>

</form>

