<div class='container'>
    <h1>Applicant Registration!</h1>
    <form name="register" ng-submit="ok()" novalidate>
        <div class="body">
        
        <div class="row">
            <div class="col-md-6">	
            <div class="form-group"
                ng-class="{'has-error':register.email.$invalid && register.email.$touched}">
                <label for="newUserEmail">Email</label>
                <input ng-model="user.credentials.email" type="email" class="form-control" id="newUserEmail" 
                    placeholder="johndoe64@aol.com" 
                    name="email"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    required
                    ng-trim/>
                <div ng-show="register.email.$error.email">
                    <p class="error-text">Please enter a valid email address! </p>
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error': register.password.$invalid && register.password.$touched}">
                <label for="newUserPassword">Password (minimum 8 characters long)</label>
                <input ng-model="user.credentials.password" type="password" class="form-control" id="newUserPassword"
                    placeholder="password"
                    name="password"
                    ng-minlength="8"
                    ng-maxlength="30"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    required/>
            </div>
            <div ng-messages="register.password.$error">
                <p ng-message="minlength" class="error-text">Password must be at least 8 characters long!</p>
                <p ng-message="maxlength" class="error-text">Password is way too long! (over 30 characters)</p>
            </div>
            </div> 
        </div>
        
        <div class="row">
            <div class="col-md-6">
        <div class="form-group"
                ng-class="{'has-error': differentPasswordTouched()}">
                <label for="newUserReEnterPassword">Re-enter Password</label>
                <input ng-model="user.reEnterPassword" type="password" class="form-control" 
                    name="reEnterPassword"
                    ng-class="{'has-error': register.password !== register.reEnterPassword}"
                    id=newUserReEnterPassword" placeholder="re-enter password"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    required/>
                <div ng-show="differentPasswordTouched()">
                    <p class="error-text"> The passwords you entered do not match! </p>
                </div>
            </div>
            </div>
        </div>
        
        <h2>Personal Information</h2>
        <hr> 
        <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.fName.$invalid && register.fName.$touched}">
                <label for="newUserfName">First Name</label>
                <input ng-model="user.personal.fName" type="text" 
                    class="form-control" id="newUserfName"
                    placeholder="John"
                    name="fName"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    required
                    ng-trim/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.mInit.$invalid && register.fName.$touched}">
                <label for="newUserMInit">Middle Inital</label>
                <input ng-model="user.personal.mInit" type="text" 
                    class="form-control" id="newUserMInit"
                    placeholder="C"
                    ng-minlength="1"
                    ng-maxlength="1"
                    name="mInit"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.lName.$invalid && register.lName.$touched}">
                <label for="newUserlName">Last Name</label>
                <input ng-model="user.personal.lName" type="text" 
                    class="form-control" id="newUserlName"
                    placeholder="Doe"
                    name="lName"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    required
                    ng-trim/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error': register.password.$invalid && register.password.$touched}">
            <label for="newUserPassword">Password (minimum 8 characters long)</label>
            <input ng-model="user.credentials.password" type="password" class="form-control" id="newUserPassword"
                placeholder="password"
                name="password"
                ng-minlength="8"
                ng-maxlength="30"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                required/>
        </div>
        <div ng-messages="register.password.$error">
            <p ng-message="minlength" class="error-text">Password must be at least 8 characters long!</p>
            <p ng-message="maxlength" class="error-text">Password is way too long! (over 30 characters)</p>
        </div>
        </div> 
    </div>
    
    <div class="row">
    	<div class="col-md-6">
   	<div class="form-group"
            ng-class="{'has-error': differentPasswordTouched()}">
            <label for="newUserReEnterPassword">Re-enter Password</label>
            <input ng-model="user.credentials.reEnterPassword" type="password" class="form-control" 
                name="reEnterPassword"
                ng-class="{'has-error': register.password !== register.reEnterPassword}"
                id=newUserReEnterPassword" placeholder="re-enter password"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                required/>
            <div ng-show="differentPasswordTouched()">
                <p class="error-text"> The passwords you entered do not match! </p>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.website.$invalid && register.website.$touched}">
                <label for="newUserWebsite">Website</label>
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <span class="input-group-addon">www.</span>
                <input ng-model="user.contact.website" type="text" 
                    class="form-control" id="newUserWebsite"
                    placeholder="yourwebsite.com"
                    name="website"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.LinkedIn.$invalid && register.LinkedIn.$touched}">
                <label for="newUserLinkedIn">LinkedIn</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                    <span class="input-group-addon">www.linkedin.com/in/</span>
                <input ng-model="user.contact.linkedIn" type="text" 
                    class="form-control" id="newUserLinkedIn"
                    placeholder="johndoe64"
                    name="linkedIn"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.facebook.$invalid && register.facebook.$touched}">
                <label for="newUserFacebook">Facebook</label>
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-facebook-square"></i></span>
                <span class="input-group-addon">www.facebook.com/</span> 
                <input ng-model="user.contact.facebook" type="text" 
                    class="form-control" id="newUserFacebook"
                    placeholder="john.doe.64"
                    name="facebook"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.twitter.$invalid && register.twitter.$touched}">
                <label for="newUserTwitter">Twitter Handle</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                    <span class="input-group-addon"><i class="fa fa-at"></i></span> 
                    <input ng-model="user.contact.twitter" type="text" 
                    class="form-control" id="newUserTwitter"
                    placeholder="johnDoe64"
                    name="twitter"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
                </div>
            </div>
        </div>
       </div>
       <h2>Location</h2>
       <hr>
       <div class="row">
           <div class="col-md-6">    
           <div class="form-group"
                ng-class="{'has-error':register.address1.$invalid && register.address1.$touched}">
                <label for="newUserAddress1">Address 1</label>
                <input ng-model="user.location.address1" type="text" 
                    class="form-control" id="newUserAddress1"
                    placeholder="123 Hacker Way"
                    name="address1"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                 ng-class="{'has-error':register.address2.$invalid && register.address2.$touched}">
                 <label for="newUserAddress2">Address 2</label>
                 <input ng-model="user.location.address2" type="text" 
                     class="form-control" id="newUserAddress2"
                     placeholder="PO Box 555"
                     name="address2"
                     ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                     ng-trim/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.city.$invalid && register.city.$touched}">
                <label for="newUserCity">City</label>
                <input ng-model="user.location.city" type="text" 
                    class="form-control" id="newUserCity"
                    placeholder="Riverside"
                    name="city"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
            required
                    ng-trim/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.state.$invalid && register.state.$touched}">
                <label for="newUserState">State</label>
                <input ng-model="user.location.state" type="text" 
                    class="form-control" id="newUserState"
                    placeholder="California"
                    name="state"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
            required
                    ng-trim/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.zipCode.$invalid && register.zipCode.$touched}">
                <label for="newUserZipCode">Zipcode</label>
                <input ng-model="user.location.zip" type="text" 
                    class="form-control" id="newUserZip"
                    placeholder="92507"
                    name="zip"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
            required
                    ng-trim/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.country.$invalid && register.country.$touched}">
                <label for="newUserCountry">Country</label>
                <input ng-model="user.location.country" type="text" 
                    class="form-control" id="newUserCountry"
                    placeholder="USA"
                    name="country"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
            required
                    ng-trim/>
            </div>
        </div>
        </div>
        <h2>Specialty</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
            <div class="form-group"
                ng-class="{'has-error':register.degree.$invalid && register.degree.$touched}">
                <label for="newUserDegree">Degree</label>
                <input ng-model="user.spec.degree" type="text" 
                    class="form-control" id="newUserDegree"
                    placeholder="B.S. Computer Engineering"
                    name="degree"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
            </div>
        </div>
        <div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':register.focus.$invalid && register.focus.$touched}">
            <label for="newUserFocus">Focus</label>
            <input ng-model="user.spec.focus" type="text" 
            class="form-control" id="newUserFocus"
            placeholder="Embedded Systems"
            name="focus"
            ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
            ng-trim/>
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group"
                ng-class="{'has-error':register.year.$invalid && register.year.$touched}">
                <label for="newUserUniv">Year</label>
                <input ng-model="user.spec.year" type="text" 
                    class="form-control" id="newUserYear"
                    placeholder="Senior"
                    name="year"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                ng-class="{'has-error':register.univ.$invalid && register.univ.$touched}">
                <label for="newUserUniv">University</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
                 
                <input ng-model="user.spec.univ" type="text" 
                    class="form-control" id="newUserUniv"
                    placeholder="University of California, Riverside"
                    name="univ"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':register.resume.$invalid && register.resume.$touched}">
            <label for="newUserResume">Resume</label>
            <input ng-model="user.spec.resume" type="text"
            class="form-control" id="newUserResume"
            placeholder="www.dropbox.com/myresume"
            name="resume"
            ng-model-year="{updateOn: 'blur default', debounce: {'blue': 0, 'default': 500}}"
            ng-trim/>
        </div>
        </div>
        </div>
     </div>
     </div>
        <div class = "footer">
            <input class="btn" value="Submit" ng-class="register.$valid?'btn-primary':'btn-default'" type="Submit"/>
            <button class="btn btn-warning" ng-click="cancel()"> Cancel </button>
        </div>
    </form>
</div>
