<body ng-controller="EmployerProfileCtrl">
<h3>Personal Information</h3>
    <hr> 
    <div class="row">
        <div class="col-md-4">
            <label for=""> First Name: </label> <td>{{employerProfileData.personal.fName}}</td>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Middle Initial: {{employerPofileData.personal.mInit}}</label>
        </div>
    </div>

    <div class="row">
	<div class="col-md-4">
	    <label for=""> Last Name: {{employerPofileData.personal.lName}}</label>
	</div>
    </div>

<h3>Contact Information</h3>
<hr>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Company Name: {{employerProfileData.companyName}}</label>
        </div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Phone Number: {{employerProfileData.contact.phoneNum}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Website: {{employerProfileData.contact.website}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> LinkedIn: {{employerProfileData.contact.linkedIn}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Facebook: {{employerProfileData.contact.facebook}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Twitter: {{employerProfileData.contact.twitter}}</label>
	</div>
     </div>

<h3>Location Information</h3>
<hr>

     <div class="row">
	<div class="col-md-6">
            <label for=""> Address 1: {{employerProfileData.location.address1}} </label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> Address 2: {{employerProfileData.location.address2}}</label>
	</div>
    </div>

    <div class="row">
	<div class="col-md-6">
            <label for=""> City: {{employerProfileData.location.city}} </label>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> State: {{employerProfileData.location.state}}</label>
	</div> 
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Zipcode: {{employerProfileData.location.zip}} </label>
	</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for=""> Country: {{employerProfileData.location.country}}</label>
        </div>
    </div>

</form>
