<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/">HuntEdu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="registerOpen()" ng-show="showGuest()">Register</a></li>
                <li><a href="" ng-click="loginOpen()" ng-show="showGuest()">Log In</a></li>
                <li><a href="" ng-click="gotoProfile()" ng-show="!showGuest()">Profile Page</a></li>
                <li><a href="" ng-click="gotoJobPostingPage()" ng-show="showEmployer()">Post New Job</a></li>
                <li><a href="" ng-click="logout()" ng-show="!showGuest()">Sign Out</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search"
                    name="search"
                    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                    ng-trim/>
                <button id="search-btn" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>


