<div class="container">
<h1>Search Results</h1>
<table class="table" id="searchTable">
    <thead>
        <tr>
            <th id="searchItemNum">
                <!-- empty header for # column-->
            </th>
            <th>
                Title
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Posted On
            </th>
            <th>
                Ends On
            </th>
            <th>
                Salary
            </th>
            <th>
                Job Type
            </th>
            <th>
                Department
            </th>
        <tr>
    </thead>
    <tbody>
        <tr ng-repeat="result in searchResultsData">
            <td>
               {{$index + 1}}.
            </td>
            <td>
                {{result.specifics.jobTitle}}
            </td>
            <td>
                {{result.location.city}}
            </td>
            <td>
                {{result.location.state}}
            </td>
            <td>
                {{result.date.postedOn}}
            </td>
            <td>
                {{result.date.endsOn}}
            </td>
            <td>
                {{result.specifics.salary}}
            </td>
            <td>
                {{result.specifics.jobType}}
            </td>
            <td>
                {{result.specifics.department}}
            </td>
        </tr>
    </tbody>
</table>
</div>


