<div id="splash">
    <div class='container'>
        <div class="jumbotron" id="splashSearch">
            <div class="row">
                <div class="col-md-1">
                    <img src="../imgs/logo.png" id="logo"></img> 
                </div>
                <span huntedu-searchbar 
                    placeholder="Job Title, Company, or Keyword" 
                    search-bar-id="searchbar"
                    search-button-id="search-btn"
                    form-id="nextoShark">
                </span>
            </div>
        </div>
    </div>
</div>
