<form name="updateProfile" ng-submit="update()" novalidate>
    <div class="container">
       <input class="btn" value="Update" ng-class="updateProfile.$valid?'btn-primary':'btn-default'" type="Submit"/>
        <button class="btn btn-warning" ng-click="updateCancel()"> Cancel </button>

    <h2>Personal Information</h2>
    <hr> 
    <div class="row">
	<div class="col-md-4">
        <div class="form-group">
            <label for="newUserfName">First Name</label>
            <input ng-model="user.personal.fName" type="text" 
                class="form-control" id="newUserfName"
                placeholder="{{updateApplicantProfileData.personal.fName}}"
                name="fName"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
	<div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.mInit.$invalid && updateProfile.fName.$touched}">
            <label for="newUserMInit">Middle Inital</label>
            <input ng-model="user.personal.mInit" type="text" 
                class="form-control" id="newUserMInit"
                placeholder="{{updateApplicantProfileData.personal.mInit}}"
                ng-minlength="1"
                ng-maxlength="1"
                name="mInit"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
	<div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.lName.$invalid && updateProfile.lName.$touched}">
            <label for="newUserlName">Last Name</label>
            <input ng-model="user.personal.lName" type="text" 
                class="form-control" id="newUserlName"
                placeholder="{{updateApplicantProfileData.personal.lName}}"
                name="lName"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
 	<div class="form-group"
            ng-class="{'has-error':updateProfile.phone.$invalid && updateProfile.phone.$touched}">
            <label for="newUserPhone">Phone</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span> 
            <input ng-model="user.contact.phoneNum" type="text" 
                class="form-control" id="newUserNumber"
                placeholder="{{updateApplicantProfileData.contact.phoneNum}}"
                name="phoneNum"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
            </div>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.website.$invalid && updateProfile.website.$touched}">
            <label for="newUserWebsite">Website</label>
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <span class="input-group-addon">www.</span>
            <input ng-model="user.contact.website" type="text" 
                class="form-control" id="newUserWebsite"
                placeholder="{{updateApplicantProfileData.contact.website}}"
                name="website"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
    </div>
	</div>
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.LinkedIn.$invalid && updateProfile.LinkedIn.$touched}">
            <label for="newUserLinkedIn">LinkedIn</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                <span class="input-group-addon">www.linkedin.com/in/</span>
            <input ng-model="user.contact.linkedIn" type="text" 
                class="form-control" id="newUserLinkedIn"
                placeholder="{{updateApplicantProfileData.contact.linkedIn}}"
                name="linkedIn"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
            </div>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.facebook.$invalid && updateProfile.facebook.$touched}">
            <label for="newUserFacebook">Facebook</label>
            <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-facebook-square"></i></span>
            <span class="input-group-addon">www.facebook.com/</span> 
            <input ng-model="user.contact.facebook" type="text" 
                class="form-control" id="newUserFacebook"
                placeholder="{{updateApplicantProfileData.contact.facebook}}"
                name="facebook"
        	    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
            </div>
        </div>
	</div>
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.twitter.$invalid && updateProfile.twitter.$touched}">
            <label for="newUserTwitter">Twitter Handle</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                <span class="input-group-addon"><i class="fa fa-at"></i></span> 
                <input ng-model="user.contact.twitter" type="text" 
                class="form-control" id="newUserTwitter"
                placeholder="{{updateApplicantProfileData.contact.twitter}}"
                name="twitter"
        	    ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
            </div>
        </div>
	</div>
   </div>
   <h2>Location</h2>
   <hr>
   <div class="row">
       <div class="col-md-6">    
       <div class="form-group"
            ng-class="{'has-error':updateProfile.address1.$invalid && updateProfile.address1.$touched}">
            <label for="newUserAddress1">Address 1</label>
            <input ng-model="user.location.address1" type="text" 
                class="form-control" id="newUserAddress1"
                placeholder="{{updateApplicantProfileData.location.address1}}"
                name="address1"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group"
             ng-class="{'has-error':updateProfile.address2.$invalid && updateProfile.address2.$touched}">
             <label for="newUserAddress2">Address 2</label>
             <input ng-model="user.location.address2" type="text" 
                 class="form-control" id="newUserAddress2"
                 placeholder="{{updateApplicantProfileData.location.address2}}"
                 name="address2"
                 ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                 ng-trim/>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.city.$invalid && updateProfile.city.$touched}">
            <label for="newUserCity">City</label>
            <input ng-model="user.location.city" type="text" 
                class="form-control" id="newUserCity"
                placeholder="{{updateApplicantProfileData.location.city}}"
                name="city"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
	<div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.state.$invalid && updateProfile.state.$touched}">
            <label for="newUserState">State</label>
            <input ng-model="user.location.state" type="text" 
                class="form-control" id="newUserState"
                placeholder="{{updateApplicantProfileData.location.state}}"
                name="state"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
	<div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.zipCode.$invalid && updateProfile.zipCode.$touched}">
            <label for="newUserZipCode">Zipcode</label>
            <input ng-model="user.location.zip" type="text" 
                class="form-control" id="newUserZip"
                placeholder="{{updateApplicantProfileData.location.zip}}"
                name="zip"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.country.$invalid && updateProfile.country.$touched}">
            <label for="newUserCountry">Country</label>
            <input ng-model="user.location.country" type="text" 
                class="form-control" id="newUserCountry"
                placeholder="{{updateApplicantProfileData.location.country}}"
                name="country"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
    </div>
    <h2>Specialty</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.degree.$invalid && updateProfile.degree.$touched}">
            <label for="newUserDegree">Degree</label>
            <input ng-model="user.spec.degree" type="text" 
                class="form-control" id="newUserDegree"
                placeholder="{{updateApplicantProfileData.spec.degree}}"
                name="degree"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
	<div class="col-md-4">
	<div class="form-group"
	    ng-class="{'has-error':updateProfile.focus.$invalid && updateProfile.focus.$touched}">
	    <label for="newUserFocus">Focus</label>
	    <input ng-model="user.spec.focus" type="text" 
		class="form-control" id="newUserFocus"
		placeholder="{{updateApplicantProfileData.spec.focus}}"
		name="focus"
		ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
		ng-trim/>
	</div>
	</div>
	<div class="col-md-4">
	<div class="form-group"
            ng-class="{'has-error':updateProfile.year.$invalid && updateProfile.year.$touched}">
            <label for="newUserUniv">Year</label>
            <input ng-model="user.spec.year" type="text" 
                class="form-control" id="newUserYear"
                placeholder="{{updateApplicantProfileData.spec.year}}"
                name="year"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
        <div class="form-group"
            ng-class="{'has-error':updateProfile.univ.$invalid && updateProfile.univ.$touched}">
            <label for="newUserUniv">University</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
             
            <input ng-model="user.spec.univ" type="text" 
                class="form-control" id="newUserUniv"
                placeholder="{{updateApplicantProfileData.spec.univ}}"
                name="univ"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-trim/>
            </div>
        </div>
	</div>
    </div>
    <div class="row">
	<div class="col-md-6">
	<div class="form-group"
	    ng-class="{'has-error':updateProfile.resume.$invalid && updateProfile.resume.$touched}">
	    <label for="newUserResume">Resume</label>
	    <input ng-model="user.spec.resume" type="text"
		class="form-control" id="newUserResume"
		placeholder="{{updateApplicantProfileData.spec.resume}}"
		name="resume"
		ng-model-year="{updateOn: 'blur default', debounce: {'blue': 0, 'default': 500}}"
		ng-trim/>
	</div>
	</div>
    </div>
    <div class="row">
       <div class="col-md-6">    
       <div class="form-group"
            ng-class="{'has-error':updateProfile.interests.$invalid && updateProfile.interests.$touched}">
            <label for="newUserInterests">List Your Interests and Skills (seperated by commas ',')</label>
            <input ng-model="user.interests" type="text" 
                class="form-control" id="newUserInterests"
                placeholder="{{updateApplicantProfileData.interests | join}}"
                name="interests"
                ng-model-options="{updateOn: 'blur default', debounce: {'blur': 0, 'default': 500}}"
                ng-list
                ng-trim/>
        </div>
	    </div>
    </div>
 </div>
</form>
